body {
  background-color: black;
}

h1 {
  /*font-family: 'Jost', sans-serif;*/
  font-family: 'Yellowtail', cursive;
  color: white;
  font-size: 250px;
  text-align: center;
  margin: auto;
  vertical-align: middle;
}

.topnav {
  font-size: 25px;
  color: white;
}

.home {
  font-family: 'Yellowtail', cursive;
}