body {
  background-color: black;
  font-family: 'Jost', sans-serif;
}

h1 {
/*  font-family: 'Jost', sans-serif;*/
  font-family: 'Yellowtail', cursive;
  color: white;
  font-size: 250px;
  text-align: center;
  margin-top: 5%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.margin {
  margin-top: 0%;
  margin-bottom: 50%;
}

.parallax {
  background: url("https://www.incimages.com/uploaded_files/image/1920x1080/getty_133492352_287666.jpg") yellow repeat fixed 100%;
  /*background-color: white;*/
}

.parallax-inner {
  padding-top: 15%;
  padding-bottom: 5%;
}

.container {
  display: flex;
  justify-content: space-around;
}

#block1 {
  display: inline;
  width: 400px;
  height: 400px;
  padding: 30px 30px 0px 30px;
  background-color: #F1F1EC;
}

#block2 {
  display: inline;
  width: 600px;
  height: 400px;
  padding: 30px 30px 30px 30px;
  background-color: #F1F1EC;
}

